.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.link {
  display: block;
  color: tomato;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 10px;
  margin-right: 20px;
  text-decoration: none;
}
.active {
  display: block;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 10px;
  margin-right: 20px;
  text-decoration: none;
}